{% extends 'base.html.twig' %}

{% block title %}АРМ ОБРАЩЕНИЙ ГРАЖДАН{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
    <div id="modal-content" class="container-fluid d-flex">
        <div class="col-2 d-flex flex-column">
            <div>Социальная сфера</div>
            <div>Здравоохранение</div>
            <div>Образование</div>
            <div>Культура и спорт</div>
        </div>
        <div class="col-10">
            2
        </div>
    </div>
{% endblock %}
